@tailwind base;

@tailwind components;

@tailwind utilities;

/* FONTS */

/*
Keyword values

font-weight: normal;
font-weight: bold;

Keyword values relative to the parent

font-weight: lighter;
font-weight: bolder;

Numeric keyword values

font-weight: 100;
font-weight: 200;
font-weight: 300;
font-weight: 400;// normal
font-weight: 500;
font-weight: 600;
font-weight: 700;// bold
font-weight: 800;
font-weight: 900;

Global values

font-weight: inherit;
font-weight: initial;
font-weight: unset;

*/

@font-face {
  font-family: 'Work Sans';
  src: url(/fonts/WorkSans-Regular.otf) format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Work Sans';
  src: url(/fonts/WorkSans-Bold.otf) format('opentype');
  font-weight: 700;
}
