<div class="bg-spindle w-full">
  <header class="flex flex-wrap w-full">
    <div
      class="block flex-initial m-auto text-center md:text-left text-2xl lg:text-4xl w-full md:w-6/12 xl:w-6/12 md:p-8 xl:px-0 h-64">
      <h1 class="text-white font-bold">
        Conoce las instituciones y a los funcionarios públicos del sector Justicia de Guatemala
      </h1>
      <h1 class="text-primary font-bold">
        #Justiciapedía
      </h1>
    </div>
    <div class="flex-initial w-full md:w-6/12 xl:w-4/12">
      <img src="img/home-slider.png" alt="Balanza, ministerio de justicia y estrado">
    </div>
  </header>
</div>
<div class="bg-white w-full">
  <article class="w-full lg:w-10/12 mx-auto py-16">
    <div class="flex">
      <div class="flex-1 w-1/2">
        <h1 class="text-4xl mb-6 font-bold">¿Qué es JusticiaPedia?</h1>
        <p>
          Es una herramienta interactiva y sencilla que busca acercar a la ciudadanía con el sector justicia, hacer que sea comprensible un tema que nos debe interesar a todos y todas.
          <br>
          <br>
          Los profesionales del derecho (abogados, magistrados, académicos) y sus funciones (en el Poder Judicial, en el Consejo de la Magistratura, en el Poder Ejecutivo, en el Legislativo o en la academia) están reguladas en Códigos de Ética y en Códigos de Procedimientos, aunque con menos precisión que en otros países. Esta regulación busca legitimar a los actores judiciales y garantizar que los conflictos sociales se canalicen por los medios institucionales adecuados y evitar el recurso a la violencia.
        </p>
      </div>
      <div class="flex-1 w-1/2">
        <iframe class="mx-auto" width="560" height="315" src="https://www.youtube-nocookie.com/embed/cs-sh5ez5Iw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </article>
</div>
<div class="w-full lg:w-10/12 mx-auto text-center block py-16">
  <h1 class="text-xl lg:text-3xl font-bold mb-5">
    Elija la categoría de su interes
  </h1>
  <div class="flex justify-center mx-auto">
    <div class="flex w-3/12">
      <CardLink class="m-2" @route="index" @text="Sector Justicia" @img="img/icons/icon-justice.png" />
    </div>
    <div class="flex w-3/12">
      <CardLink class="m-2" @route="index" @text="Comisiones de Postulación" @img="img/icons/icon-comissions.png" />
    </div>
  </div>
</div>

{{!-- <div class="w-full bg-blue text-white">
  <div class="container mx-auto mx-auto py-5">
    <div class="flex flex-wrap py-5" id="index-banner">
      <div class="w-full text-center lg:mx-1/6 lg:w-2/5 pr-4 pl-4 text-lg-left">
        <h3>
          Conoce a las instituciones y a los<br>
          funcionarios públicos del sector de<br>
          Justicia de Guatemala
        </h3>
      </div>
      <div class="w-full lg:w-2/5 pr-4 pl-4">
        <img src="/img/slider.png" alt="Corte Suprema de Justicia" class="img-responsive w-full pt-5 lg:m-0">
      </div>
    </div>
  </div>
</div>
<div class="container mx-auto mx-auto bg-grey-lightest py-5">
  <div class="flex flex-wrap py-5">
    <div class="w-full text-center lg:mx-1/6 lg:w-2/5 pr-4 pl-4 text-lg-left">
      <h2 class="mb-4">¿Qué es Justiciapedia?</h2>
      <p>
        Es una herramienta interactiva y sencilla que busca acercar a la ciudadanía con el sector justicia, hacer que sea comprensible un tema que nos debe interesar a todos y todas.
      </p>
    </div>
    <div class="w-full lg:w-2/5 pr-4 pl-4 text-center">
      <div class="video-container">
        <iframe class="mt-5 md:mt-0" width="560" height="315" src="https://www.youtube.com/embed/cs-sh5ez5Iw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<div class="container mx-auto mx-auto py-5">
  <div class="flex flex-wrap py-5 text-center">
    <div class="w-full">
      <h2 class="mb-4 pb-4">Elija la categoría de tu interes</h2>
    </div>
    <div class="w-full lg:mx-1/6 lg:w-2/5 pr-4 pl-4 border-r">
      <h2 class="my-5 py-0 md:p y-5">
        <LinkTo @route="perfiles" @model={{"instituciones"}} @query={{hash sector="justicia"}}>
          <img src="/img/i-justicia.png" alt="Mazo" class="lg:mr-3">
          <br class="block md:hidden">
          Sector Justicia
        </LinkTo>
      </h2>
    </div>
    <div class="w-full lg:w-2/5 pr-4 pl-4">
      <h2 class="my-5 py-0 md:p y-5">
        <LinkTo @route="perfiles" @model={{"elecciones"}}>
          <img src="/img/i-personas-d.png" alt="Edificio" class="lg:mr-3">
          <br class="block md:hidden">
          Comisiones de Postulación
        </LinkTo>
      </h2>
    </div>
  </div>
</div> --}}