<div class="w-100 bg-info text-white">
  {{!-- Slider --}}
  <div class="container-fluid">
    <div class="row" id="index-banner">
      <div class="col-12 text-left offset-lg-1 col-lg-5 py-5 px-3 h-100 align-self-center">
        <h2>
          Conoce a las instituciones y a los<br>
          funcionarios públicos del sector de<br>
          Justicia de Guatemala
        </h2>
        <h1 class="text-dark">
          #Justiciapedía
        </h1>
      </div>
      <div class="col-12 col-lg-5 offset-lg-1 p-0">
        <img src="/img/slider.png" alt="Corte Suprema de Justicia" class="img-responsive w-100">
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-white py-md-5">
  <div class="row py-5 align-items-center">
    <div class="col-12 text-center offset-lg-1 col-lg-5 text-lg-left h-100 mr-5">
      <h2 class="mb-4">
        ¿Qué es Justiciapedia?
      </h2>
      <p>
        Es una herramienta interactiva y sencilla que busca acercar a la ciudadanía con el sector justicia, hacer que
        sea comprensible un tema que nos debe interesar a todos y todas.
        <br>
        <br>
        Los profesionales del derecho (abogados, magistrados, académicos) y sus funciones (en el Poder Judicial, en el
        Consejo de la Magistratura, en el Poder Ejecutivo, en el Legislativo o en la academia) están reguladas en
        Códigos de Ética y en Códigos de Procedimientos, aunque con menos precisión que en otros países. Esta regulación
        busca legitimar a los actores judiciales y garantizar que los conflictos sociales se canalicen por los medios
        institucionales adecuados y evitar el recurso a la violencia.
      </p>
    </div>
    <div class="col-12 col-lg-5 text-center">
      <div class="video-container">
        <iframe class="mt-5 mt-md-0" width="560" height="315" src="https://www.youtube.com/embed/cs-sh5ez5Iw"
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid py-md-5 bg-light">
  <div class="row py-5 text-center justify-content-center">
    <div class="col-12">
      <h2 class="mb-4 pb-4">Elija la categoría de tu interes</h2>
    </div>
    <div class="col-12 col-md-5 col-lg-4">
      <h2 class="my-2 p-4 bg-white">
        <LinkTo @route="perfiles" @model={{"instituciones"}} @query={{hash sector="justicia"}}>
          <div class="row h-100">
            <div class="col-12 col-md-6">
              <img src="/img/icons/justice.png" alt="Mazo">
            </div>
            <div class="col-12 col-md-6 m-auto text-center">
              Sector Justicia
            </div>
          </div>
        </LinkTo>
      </h2>
    </div>
    <div class="col-12 col-md-5 col-lg-4">
      <h2 class="my-2 p-4 bg-white">
        <LinkTo @route="perfiles" @model={{"elecciones"}}>
          <div class="row h-100">
            <div class="col-12 col-md-6">
              <img src="/img/icons/comissions.png" alt="Edificio">
            </div>
            <div class="col-12 col-md-6 m-auto text-center">
              Comisiones de Postulación
            </div>
          </div>
        </LinkTo>
      </h2>
    </div>
  </div>
</div>